body {
    /*font-family: Arial, sans-serif;*/
    margin: 0;
    padding: 0;
    font-family: 'Pokemon Solid', sans-serif;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
  .button-container button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .title-container h1 {
    color: #ffcb05; /* Amarillo característico de Pokémon */
    -webkit-text-stroke: 1px #3a4aad;  /*Sombra azul característico de Pokémon */
  }
  
  /* Estilo para el botón activo (vista actual) */
  .button-active {
    background-color: #3498db;
    color: white;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
  }

  .modal-content input {
    display: block; /* Hace que los inputs ocupen todo el ancho disponible */
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    margin-bottom: 10px; /* Espacio entre los inputs */
  }
  
  .close {
    float: right;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
  }



.controls-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .controls-container input {
    padding: 10px;
    width: 35%;
  }
  
  .controls-container select {
    padding: 10px;
    width: 35%;
  }


  .pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las cajas horizontalmente */
  }
  
  .pokemon-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 150px; /* Ajusta el ancho de las cajas*/
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .pokemon-box img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
/* Estilos para el modal de vista detallada */

  #pokemonDetailModal .modal-content {
    max-width: 90%;
    margin: 10% auto;
  }
  
  #pokemonDetailModal .row {
    display: flex;
    justify-content: space-between;
  }
  
/*   #pokemonDetailModal .row:first-child {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
  }
  
  #pokemonDetailModal .row:nth-child(2) {
    padding: 10px 0;
  }
  
  #pokemonDetailModal .row:nth-child(3) {
    display: flex;
  } */
  
  #pokemonDetailModal .description {
    flex: 1;
    padding: 0 5%;
  }
  
  #pokemonDetailModal .description p {
    text-align: justify;
  }
  
  #pokemonDetailModal .pokemon-info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  #pokemonDetailModal .pokemon-info .info-item {
    text-align: center;
  }
  
  #pokemonDetailModal .pokemon-info .info-item img {
    width: 90%;
    height: 90%;
    margin-bottom: 5%;
  }
  
  #pokemonDetailModal .details {
    flex: 1;
    padding: 0 5%;
  }

  #pokemonDetailModal .location-item {
    flex: 1;
    padding: 0 5%;
  }
  
  #pokemonDetailModal .details .detail-item {
    margin-bottom: 10px;
  }
  
  #pokemonDetailModal .details .detail-item span {
    font-weight: bold;
  }
  
  #pokemonDetailModal .close {
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  #pokemonDetailModal .close:hover {
    color: #ff0000;
  }


  /* Estilos para pantallas pequeñas */
@media (max-width: 854px) {
  #pokemonDetailModal .row {
    flex-direction: column;
  }
}

